body {
	--embedded-canvas-min-height: 300px;
	--embedded-canvas-border-width: 1px;
	--embedded-canvas-border-color: var(--background-modifier-border);
}

.canvas-embed.better-canvas-embed {
	&.internal-embed > .canvas-content > .canvas-wrapper {
		position: relative;
	}

	& > .embed-title {
		width: fit-content;
		cursor: pointer;
	}

	& > .canvas-content {
		height: var(--embedded-canvas-min-height);
		border: var(--embedded-canvas-border-width) solid var(--embedded-canvas-border-color);
		border-radius: var(--radius-m);
		overflow: hidden;

		& > .canvas-wrapper > .canvas-controls {
			visibility: hidden;
		}

		&:hover > .canvas-wrapper > .canvas-controls {
			visibility: visible;
		}
	}

	& .canvas-wrapper.mod-readonly[data-hide-background-grid-when-in-readonly=true] .canvas-background {
		visibility: visible;
	}

	& .canvas-node-content.markdown-embed > .markdown-embed-content > .markdown-preview-view > .markdown-preview-sizer {
		margin-left: unset;
		margin-right: unset;
	}

	& .inline-title {
		display: block;
	}
}