body {
	// Enable user and style devs for ease customization.
	--canvas-embed-min-height: 300px;
	--canvas-embed-height: var(--canvas-embed-min-height);
	--canvas-embed-border-width: 1px;
	--canvas-embed-border-color: var(--background-modifier-border);
	--canvas-embed-border-radius: var(--radius-m);
	--canvas-embed-resizer-height: var(--size-4-2);
	--canvas-embed-resizer-size: 3px;
	--canvas-embed-resizer-color-hover: var(--interactive-accent);

	&.is-resizing-canvas-embed {
		cursor: ns-resize;
	}
}

.canvas-embed.better-canvas-embed {
	--canvas-embed-minimap-height: 100%;
	// Omit gap between canvas and its resize handler.
	position: relative;

	&.internal-embed > .canvas-embed-content > .canvas-wrapper {
		position: relative;
	}

	& > .embed-title {
		width: fit-content;
		cursor: pointer;
	}

	& > .canvas-minimap {
		height: var(--canvas-embed-minimap-height);
	}

	& > .canvas-embed-content {
		height: var(--canvas-embed-height);
		border: var(--canvas-embed-border-width) solid var(--canvas-embed-border-color);
		border-radius: var(--canvas-embed-border-radius);
		overflow: hidden;

		& > .canvas-wrapper > .canvas-controls {
			visibility: hidden;
		}

		&:hover > .canvas-wrapper > .canvas-controls {
			visibility: visible;
		}
	}

	& .canvas-wrapper {
		&.mod-no-interaction {
			// Enable swiping note over interaction-disabled canvas embed.
			touch-action: auto;
		}

		&.mod-readonly[data-hide-background-grid-when-in-readonly=true] .canvas-background {
			visibility: visible;
		}
	}

	& .canvas-node-content.markdown-embed > .markdown-embed-content > .markdown-preview-view > .markdown-preview-sizer {
		margin-left: unset;
		margin-right: unset;
	}

	& .inline-title {
		display: block;
	}

	& .canvas-embed-resizer {
		position: absolute;
		display: flex;
		flex-direction: column;
		height: var(--canvas-embed-resizer-height);
		width: 100%;
		bottom: 0;
		padding-inline: var(--canvas-embed-border-radius);
		cursor: ns-resize;
		// Make drag-to-resize work on touchscreen devices.
		touch-action: none;

		& > .canvas-embed-resizer-handle {
			height: var(--canvas-embed-resizer-size);
			margin-top: auto;
			background-color: transparent;
			transition: background-color 200ms ease-in-out, border-color 200ms ease-in-out, opacity 200ms ease-in-out;
		}

		&:hover > .canvas-embed-resizer-handle,
		&.mod-resizing > .canvas-embed-resizer-handle {
			background-color: var(--canvas-embed-resizer-color-hover);
		}
	}

	.popover.hover-popover > .markdown-embed > .markdown-embed-content & .markdown-preview-view {
		// Prevent nodes from being shrinked in hover preview.
		padding: 0 var(--size-4-4);
	}
}