body {
	// Enable user and style devs for ease customization.
	--canvas-embed-min-height: 300px;
	--canvas-embed-height: var(--canvas-embed-min-height);
	--canvas-embed-border-width: 1px;
	--canvas-embed-border-color: var(--background-modifier-border);
	--canvas-embed-border-radius: var(--radius-m);
}

.canvas-embed.better-canvas-embed {
	--canvas-embed-minimap-height: 100%;

	&.internal-embed > .canvas-embed-content > .canvas-wrapper {
		position: relative;
	}

	& > .embed-title {
		width: fit-content;
		cursor: pointer;
	}

	& > .canvas-minimap {
		height: var(--canvas-embed-minimap-height);
	}

	& > .canvas-embed-content {
		height: var(--canvas-embed-height);
		border: var(--canvas-embed-border-width) solid var(--canvas-embed-border-color);
		border-radius: var(--canvas-embed-border-radius);
		overflow: hidden;

		& > .canvas-wrapper > .canvas-controls {
			visibility: hidden;
		}

		&:hover > .canvas-wrapper > .canvas-controls {
			visibility: visible;
		}
	}

	& .canvas-wrapper {
		&.mod-no-interaction {
			touch-action: auto;
		}

		&.mod-readonly[data-hide-background-grid-when-in-readonly=true] .canvas-background {
			visibility: visible;
		}
	}

	& .canvas-node-content.markdown-embed > .markdown-embed-content > .markdown-preview-view > .markdown-preview-sizer {
		margin-left: unset;
		margin-right: unset;
	}

	& .inline-title {
		display: block;
	}

	.popover.hover-popover > .markdown-embed > .markdown-embed-content & .markdown-preview-view {
		padding: 0 var(--size-4-4);
	}
}